{% comment %} {% load static %} {% endcomment %}


<!DOCTYPE html>
<html lang="en">


<!--- FILES CSS & FONTS & IMAGES  -------------- -->
{% comment %} {% include 'dashboard/files_css_fonts_images.html'%} {% endcomment %}


<!---  HEADER_PAGE_INCLUDE  -------------------- -->
{% comment %} {% include 'dashboard/files_js_jquery.html'%} {% endcomment %}


<!---  HEADER_PAGE_INCLUDE  -------------------- -->
{% include 'basic_page_header.html'%}


<!---  PAGE_TITLE  ---------------------------- -->
{% block    PAGE_TITLE  %} 
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  -------------------- -->
{% block    MESSAGES_CONTENTS  %}
{% endblock MESSAGES_CONTENTS  %}  


<!---  CONTENTS_PAGE ------------------------- -->
{% block    CONTENTS_PAGE %} 
{% endblock CONTENTS_PAGE %} 


<!---  USERISAUTHENTICATED ------------------ -->
{% block    USER_IS_AUTHENTICATED %} 
{% endblock USER_IS_AUTHENTICATED %} 


<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 


<!---  FOOTER_PAGE_INCLUDE  ------------------- -->
{% include 'basic_page_footer.html'%}




</html>